<app-icon-modal
  [shouldToggleFn]="shouldToggleModal"
  [iconUrl]="iconUrl()"
  [iconAlt]="storedCursorMode()"
  iconTitle="Mode Control"
  (click)="onClick()">
  <div class="brush-control-modal">
    <div class="stroke-width">
      <div class="title">
        {{ storedCursorMode() }} Width
        <span class="value">
          <strong>{{ strokeDiameter() }}</strong>
        </span>
      </div>
      <div class="control">
        <mat-slider min="1" max="30" step="1">
          <input
            matSliderThumb
            [value]="strokeDiameter()"
            (input)="setNewStrokeDiameter($event)"
            title="Set Width"
          />
        </mat-slider>
        <svg viewBox="0 0 30 10" xmlns="http://www.w3.org/2000/svg">
          <circle
            cx="50%"
            cy="50%"
            [attr.r]="halfStrokeRadius()"
            [attr.fill]="colour()"
            stroke="white"
            stroke-width="0.75"
          />
        </svg>
      </div>
    </div>
    <div class="mode-selector">
      <div class="control">
        @for(control of brushControlButtons; track control.cursorMode) {
          <button
            type="button"
            title="{{control.cursorMode}}"
            (click)="setNewCursorMode(control.cursorMode)"
            [class]="'icon ' + control.class"
            [ngClass]="{'selected': control.selected()}">
            <img
              title="{{control.cursorMode}}"
              [src]="control.cursorModeUrl"
              [alt]="control.cursorMode"
              [class]="control.class"
            />
          </button>
        }
      </div>
    </div>
  </div>
</app-icon-modal>
