<app-icon-modal
  [iconUrl]="iconUrl()"
  [iconTitle]="cursorMode()"
  iconAlt="paintbrush">
  <div class="brush-control-modal">
    <div class="stroke-width">
      <div class="title">
        {{ cursorMode() }} Width
        <span class="value">
          <strong>{{ strokeWidth() }}</strong>
        </span>
      </div>
      <div class="control">
        <mat-slider min="1" max="30" step="1">
          <input
            matSliderThumb
            [value]="strokeWidth()"
            (input)="setNewStrokeWidth($event)"
            title="Brush Width"
          />
        </mat-slider>
        <svg viewBox="0 0 30 10" xmlns="http://www.w3.org/2000/svg">
          <circle
            cx="50%"
            cy="50%"
            [attr.r]="halfStrokeRadius()"
            [attr.fill]="colour()"
            stroke="white"
            stroke-width="0.75"
          />
        </svg>
      </div>
    </div>
    <div class="mode-selector">
      <div class="control">
        <button type="button" class="icon brush" [ngClass]="{'selected': brushMode()}" (click)="setNewCursorMode(CursorMode.Brush)">
          <img [src]="CursorModeUrl.Brush" alt="Brush" class="brush" title="Brush" />
        </button>
        <button type="button" class="icon rubber" [ngClass]="{'selected': rubberMode()}" (click)="setNewCursorMode(CursorMode.Rubber)">
          <img [src]="CursorModeUrl.Rubber" alt="Rubber" class="rubber" title="Rubber" />
        </button>
        <button type="button" class="icon line" [ngClass]="{'selected': lineMode()}" (click)="setNewCursorMode(CursorMode.Line)">
          <img [src]="CursorModeUrl.Line" alt="Straight line" class="line" title="Line" />
        </button>
      </div>
    </div>
  </div>
</app-icon-modal>
