@import "../../../../styles/mixins.less";

.brush-control-modal {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  align-items: start;

  height: 150px;
  width: 200px;
  z-index: 1;
  position: fixed;
  border-radius: 5px;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  padding: 5px;
  .background-fade-modal();
  .modal-transform();

  .stroke-width {
    background-color: #edeeff;
    .brush-control-panel();

    .title {
      display: grid;
      grid-template-columns: 128px auto;
      justify-items: center;
      font-family: Roboto, sans-serif;
      color: @text-bright;
    }

    .control {
      display: flex;
    }
  }

  .mode-selector {
    height: 50px;
    .brush-control-panel();
    display: flex;

    .control {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      border-radius: 5px;
    }

    button {
      height: 100%;
      border: none;
      cursor: pointer;
      background-color: @gradient-base-blue;

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover:not(.selected) {
        background-color: @blue-button-hover;
      }

      &.selected {
        border: solid @text-bright;
        cursor: default;
      }
    }
  }
}

mat-slider-visual-thumb {
  .mat-ripple.mat-mdc-focus-indicator {
    height: 0;
    width: 0;
  }

  .mdc-slider__thumb-knob {
    width: 20px;
    height: 20px;
    .border-colour();
  }
}

mat-slider {
  .mdc-slider__track--active_fill {
    .border-colour();
  }

  .mdc-slider__track--inactive {
    background-color: #b9b9d2 !important;
  }
}
