<a class="icon brush" (click)="onClickOnIcon()">
  <img src="../../assets/paintbrush.svg" alt="paintbrush" />
</a>
@if (showModal()) {
<div class="brush-control-modal">
  <div class="stroke-width">
    <div class="title">
      Brush Width
      <span class="value"
        ><strong>{{ strokeWidth() }}</strong></span
      >
    </div>
    <div class="control">
      <mat-slider min="1" max="30" step="1">
        <input
          matSliderThumb
          [value]="strokeWidth()"
          (input)="setNewStrokeWidth($event)"
          title="Brush Width"
        />
      </mat-slider>
      <svg viewBox="0 0 30 10" xmlns="http://www.w3.org/2000/svg">
        <circle
          cx="50%"
          cy="50%"
          [attr.r]="halfStrokeRadius()"
          [attr.fill]="colour()"
        />
      </svg>
    </div>
  </div>
</div>
}
