.background-fade() {
  background-image: linear-gradient(
    to right,
    #ced1ff, #b7bae9, #a0a3d4,
    #8a8dbf, #7478ab, #6b71ab,
    #616aab, #5663ab, #5368bf,
    #4e6dd4, #4572e9, #3777ff
  );
}

.background-fade-alt() {
  background-image: linear-gradient(
    to right,
    #a0a3d4,
    #8a8dbf,
    #7478ab,
    #6b71ab)
}


.full-size() {
  :host {
    display: flex;
    height: 100%;
    width: 100%;
  }
}
