@import "./colours.less";

.background-fade-to-right() {
  background-image: linear-gradient(to right,
    @gradient-base-green, #005646, #006a68,
    #007d8b, #338fac, #3f8caf,
    #4c88b0, #5984af, #476c95,
    #36557c, #253f64, @gradient-base-blue
  );
}

.background-fade-alt() {
  background-image: linear-gradient(
    to right, @gradient-base-green, #003f39,
    #003a49, #003350, @gradient-base-blue
  );
}


.full-size() {
  :host {
    display: flex;
    height: 100%;
    width: 100%;
  }
}

.margin(@margin: 0px) {
  margin: @margin !important;
}

.font(@fontSize: 14px) {
  font-family: Roboto, sans-serif !important;
  font-size: @fontSize !important;
}

.hover-white-text(@colorOrFill: color) {
  &:hover {
    @{colorOrFill}: @text-bright !important;
  }
}
