@import "../styles/mixins.less";

:host {
  display: grid;
  grid-template-rows: 64px auto 64px;
  height: 100svh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to left,
    #a0a3d4,
    #6b71ab);

  .canvas-container {
    width: 98%;
    height: 98%;
    border: 3px solid #454655;
  }
}
